@import url(https://fonts.googleapis.com/css?family=Nunito);


.glyphicon{
    position:relative;
    top:1px;display:inline-block;
    font-style:normal;font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.glyphicon-chevron-up:before{
    content:"+"
}

.glyphicon-chevron-down:before{
    content:"-"
}

.card {

    box-shadow: 5px 5px 20px;
}



